.App-logo {
  animation: App-logo-spin infinite 20s linear;
  max-width: 50px
}

.Header {
  box-shadow: 0 0 5px 2px;
  min-height: 40px;
}

.Footer {
  background-color: gainsboro;
  box-shadow: 0 0 5px 0px;
  min-height: 40px
}

.Content {
  padding-top: 55px;
}